<div class="widget-wrapper">

    <div id="progress-circle-graph" class="graph-element-div"></div>
      
    <div class="current-situation-div">
        <table>
            <tr>
                <td>
                    <p>Values selected</p>
                </td><td>
                    <p>{{ matchEvents }}</p>
                </td>
            </tr>
            <tr class="padding-row">
                <td>
                    <p>All events</p>
                </td><td>
                    <p>{{ allEvents }}</p>
                </td>
            </tr>
            <tr class="result-row">
                <td>
                    <p>Result</p>
                </td><td>
                    <p>{{ endPercentText }}</p>
                </td>
            </tr>
        </table>
    </div>
    
    <ng-container *ngIf="allEvents < 1">
        <div class="status-div">
            <div class="over-target">
                <p class="no-indicator-p">No events found!</p>
            </div>
        </div>
    </ng-container>
    
</div>