<div id="progress-circle-graph" class="graph-element-div"></div>
  
<div class="current-situation-div">
    <table>
        <tr>
            <td class="custom-tooltip-parent">
                <span>Situation</span>
            </td><td>
                {{ matchEvents +" / "+ allEvents + " pcs." }}
            </td><td>
                {{ endPercentText }}
            </td>
        </tr>
    </table>
</div>

<div class="target-situation-div">
    <table>
        <tr>
            <td>
                Target
            </td><td>
                &nbsp;
            </td><td>
                {{ targetPercentText }}
            </td>
        </tr>
    </table>
</div>

<ng-container *ngIf="allEvents > 0">
    <div class="status-div">
        <div class="over-target" *ngIf="over_target">
            <span class="status-indicator success"></span><p>Over target</p>
        </div>
        <div class="under-target" *ngIf="!over_target">
            <span class="status-indicator warning"></span><p>Under target</p>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="allEvents < 1">
    <div class="status-div">
        <div class="over-target">
            <p class="no-indicator-p">No events found!</p>
        </div>
    </div>
</ng-container>