<div class="container">

    <div class="row row-margin">
        <div class="col-xs-12">
            <input id="datepicker-start" type="text" placeholder="Start date"/>
            <input id="datepicker-end" type="text" placeholder="End date"/>    
            <button (click)="refreshWidget()">Search</button> 

            <p>*note: use dates between 2017-01-01 and 2017-12-31, all mock data events are between those dates.</p>
        </div>
    </div>

    <div class="row row-margin">

        <ng-container *ngFor="let widget of widgets">

            <div class="col-xs-12 col-md-3">

                <app-widget [widget]="widget"></app-widget>

            </div>

        </ng-container>

    </div>

</div>  